.container-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-color:  #fdfefe;
}

.title-box p{
    font-size: 25px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #fdfefe;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    gap: 1.25rem;
}

.btn-primary {
    font-weight: bold !important;
    width: 65%;
}


.login-layout {
    background-image: url(../../images/background-login2.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
}

/*Mobile*/
@media (max-width: 600px){
    .container-layout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: auto;
        justify-content: center;
        background-color:  #fdfefe;
    }
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.25rem;
    }
    .input-group {
        width: 50%;
    }
    .input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        padding-left: 30px;
    }
    .input-icon {
        font-size: 40px;
        color: #aaa;
        position: absolute; 
        left: 10px; 
    }
    .login-layout {
        display: none;
        background-color: brown;
    }
  
}
    