/* src/Components/Profile/Profile.css */

.profile-container {
    display: flex;
    align-items: center;
  }
  .profile-image {
    width: 40px; /* Ajusta el tamaño de la imagen si es necesario */
    height: 40px; /* Ajusta el tamaño de la imagen si es necesario */
    margin-right: 5px; /* Espaciado entre la imagen y el botón */
  }
  
  .dropdown-toggle::after {
    display: none; /* Oculta la flechita del dropdown */
  }
  
  /* Puedes agregar más estilos aquí según sea necesario */
  